:root{
  --color-principal: #5D4E8E;
  --color-segundario: #7B77C2;
  --color-terciario: #B09DCE;
  --color-logo:  #FFE600;
  --color-letra: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family:'Inter', sans-serif;
}
body{
  background-color: var(--color-principal);
  color: var(--color-letra);
}
header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-principal);
}
.nav-logo{
  margin-left: 30px;
  width: 150px;;
}
.nav-img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid var(--color-principal);
}
.button-box{
  width: auto;
  height: auto;
  background-color: var(--color-segundario);
  border-radius: 40px;
  padding: 5px;
  margin-right: 30px;
}
.hover{
  width: auto;
  border-radius: 40px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}
.menu-item{
  color: var(--color-letra);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.menu-item:hover{
  color: var(--color-letra);
  text-decoration: underline;
}
.form-control{
  width: 400px;
  background-color: var(--color-terciario);
  margin-left: 15px;
  border: none;
  border-radius: 15px;
}
.form-control:focus{
  background-color: var(--color-terciario);
  border: 1px solid var(--color-principal);
  overflow: none;
  box-shadow: none;
}
.info{
  background-color: var(--color-segundario);
  border-radius: 100px;
  padding: 8px;
  height: 200px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}
.info2{
  background-color: var(--color-segundario);
  border-radius: 10px;
  padding: 8px;
  height: 150px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}
.columna1{
  background-color: var(--color-segundario);
  height: 300vh;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 8px;
}
.input-publicacion{
  width: 100%;
  background-color: var(--color-terciario);
  padding: 10px;
  border-radius: 10px;
}
.input-text{
  width: 85%;
  border: none;
  background-color: transparent;
  color: var(--color-letra);
  resize: none;
}
.input-text:focus{
  border: none;
  outline: none;
}
.btn-publicacion{
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: var(--color-logo);
}
.btn-publicacion:hover{
  opacity: 0.7;
}
.text{
  overflow-wrap: break-word;
}
.publicacion-nueva{
  background-color: var(--color-terciario);
  border-radius: 10px;
}
.fecha-hora{
  font-size: 12px;
}



@media (min-width: 577px) and (max-width: 992px){
  .nav-logo{
    margin-left: 15px;
  }
  .button-box{
    margin-right: 15px;
  }
}
@media (max-width: 576px){
  .nav-logo{
    margin-left: 15px;
    width: 80px;;
  }
  .button-box{
    margin-right: 15px;
  }
  .nav-img{
    width: 35px;
    height: 35px;
  }
  .menu-item{
    font-size: 10px;
  }
}
