:root{
  --color-principal: #5D4E8E;
  --color-segundario: #7B77C2;
  --color-terciario: #B09DCE;
  --color-logo:  #FFE600;
  --color-letra: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  font-family:'Inter', sans-serif;
  padding: 0;
  margin: 0;
  border-width: 0;
}
body{
  background-color: var(--color-principal);
  color: var(--color-letra);
}
header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-principal);
}
.nav-logo{
  margin-left: 30px;
  width: 150px;;
}
.nav-img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid var(--color-principal);
}
.button-box{
  width: auto;
  height: auto;
  background-color: var(--color-segundario);
  border-radius: 40px;
  padding: 5px;
  margin-right: 30px;
}
.hover{
  width: auto;
  border-radius: 40px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}
.menu-item{
  color: var(--color-letra);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.menu-item:hover{
  color: var(--color-letra);
  text-decoration: underline;
}
.form-control{
  width: 400px;
  background-color: var(--color-terciario);
  margin-left: 15px;
  border: none;
  border-radius: 15px;
}
.form-control:focus{
  background-color: var(--color-terciario);
  border: 1px solid var(--color-principal);
  overflow: none;
  box-shadow: none;
}
.columna1{
  background-color: var(--color-segundario);
  border-radius: 50px;
  height: 80vh;
  position: sticky;
  top: 76px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 8px;
}
.perfil-style{
  padding: 5px;
  border-radius: 100%;
  height: 180px;
  width: 180px;
 } 
.card-feed{
  background-color: var(--color-segundario);
  border-radius: 150px;
  border: none;
}
.style-name{
  background: var(--color-segundario);
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 140px;
  cursor: pointer;
  transition: all 0.2s ease;
  transition-delay: 0.2s;
  text-decoration: none;
}
h5{
  width: 170px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.style-email{
  padding: 15px;
}
.buttons-seg-fav{
  width: 160px;
  padding: 15px;
}
.text-style{
  background: var(--color-segundario);
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: none;
}
.columna2{
  background-color: var(--color-segundario);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 8px;
}
.columna3{
  background-color: var(--color-segundario);
  border-radius: 10px;
  height: 80vh;
  position: sticky;
  top: 76px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  padding: 8px;
}





@media (min-width: 577px) and (max-width: 992px){
  .nav-logo{
    margin-left: 15px;
  }
  .button-box{
    margin-right: 15px;
  }
}
@media (max-width: 576px){
  .nav-logo{
    margin-left: 15px;
    width: 80px;;
  }
  .button-box{
    margin-right: 15px;
  }
  .nav-img{
    width: 35px;
    height: 35px;
  }
  .menu-item{
    font-size: 10px;
  }
}


/* SEGUIDORES */

.card-seguidores{
  border-width: 1px;
  border-radius: 10px;
  background-color: #B09DCE;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30%;
  box-shadow: 5px 0px 6px -6px rgba(0,0,0,0.75);
}

.image-perfil{
  max-width: 120px;
  border-color: antiquewhite;
}

.nombre-usuario{
  font-size: small;
}

.boton-seguir{
  background-color: aliceblue;
  color: #5D4E8E;
  border-radius: 10px;
  border-color: aliceblue;
  border: 0px;
}

@media (max-width: 768px){
  .card-seguidores{
    width: 170px;
  }
}